In [3]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df1 = pd.read_csv('./datasets/GGAL - Cotizaciones historicas.csv')

In [ ]:
df1

In [ ]:
df1.info()

In [ ]:
df1.shape

Pregunta 1

In [ ]:
def Ret_Pregunta01():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros cuya entidad sea Argentina retornando ese valor en un dato de tipo entero.
    Pista averiguar la función Shape
    '''
    #Tu código aca:
    df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
    return len(df[df.Entity == 'Argentina'])

In [ ]:
len(df[df.Entity == 'Argentina'])

Pregunta 2

In [ ]:
def Ret_Pregunta02():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe eliminar las columnas 'Code' y 'Entity' y luego informar la cantidad de columnas
    retornando ese valor en un dato de tipo entero.
    '''
    #Tu código aca:
    df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
    dfmod = df.drop(['Code','Entity'],axis=1)
    return len(dfmod.columns)

In [ ]:
dfmod = df.drop(['Code','Entity'],axis=1)

In [ ]:
len(dfmod.columns)

Pregunta 3

In [ ]:
def Ret_Pregunta03():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros, sin tener en cuenta aquellos con valores faltantes, para el campo 'Code' 
    y retornando ese valor en un dato de tipo entero.
    '''
    #Tu código aca:
    df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
    return len(df.dropna(subset='Code'))

In [ ]:
len(df.dropna(subset='Code'))

Pregunta 4

In [ ]:
def Ret_Pregunta04():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    El ExaJulio es una unidad diferent al TWh, es decir, no tiene sentido sumarlos o
    buscar proporciones entre ellos. 
    La fórmula de conversión es: 277.778 Teravatios/Hora (TWh) = 1 Exajulio
    Los campos terminados en "_EJ" corresponden a mediciones en Exajulios,
    y los terminados en "_TWh" corresponden a Teravatios/Hora.
    La consigna es crear un nuevo campo, que se denomine "Consumo_Total"
    y que guarde la sumatoria de todos los consumos expresados en Teravatios/Hora
    (convirtiendo a esta medida los que están en Exajulios).
    Esta función debe informar el consumo total para la entidad 'World' y año '2019',
    redondeado a 2 decimales, retornando ese valor en un dato de tipo float.
    '''
    #Tu código aca:
    df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
    camposEJ = df.columns.where(df.columns.str.contains('EJ')).dropna()
    camposConsumo = df.columns.drop(['Code','Year','Entity'])
    df[camposEJ] = df[camposEJ]*277.778
    df['Consumo_Total'] = df[camposConsumo].sum(axis=1)
    dfmod = df[(df.Year==2019) & (df.Entity == 'World')]
    return round(float(dfmod['Consumo_Total'].values),2)

In [ ]:
Ret_Pregunta04()

In [ ]:
camposEJ = df.columns.where(df.columns.str.contains('EJ')).dropna()
camposConsumo = df.columns.drop(['Code','Year','Entity'])
print(camposEJ)
print(camposConsumo)

In [ ]:
df

In [ ]:
df[camposEJ] = df[camposEJ]*277.778
df['Consumo_Total'] = df[camposConsumo].sum(axis=1)
df

In [ ]:
dfmod = df[(df.Year==2019) & (df.Entity == 'World')]
round(float(dfmod['Consumo_Total'].values),2)

Pregunta 5

In [ ]:
def Ret_Pregunta05():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar el año de mayor generación de energía solar (Solar_Generation_TWh)
    para la entidad 'Europe' retornando ese valor en un dato de tipo entero.
    '''
    #Tu código aca:
    df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
    index = df[df.Entity=='Europe']['Solar_Generation_TWh'].idxmax()
    return df.loc[index]['Year']

In [ ]:
Ret_Pregunta05()

In [ ]:
df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')

In [ ]:
index = df[df.Entity=='Europe']['Solar_Generation_TWh'].idxmax()
df.loc[index]['Year']

Pregunta 6

In [4]:
def Ret_Pregunta06(m1, m2):
    '''
    Esta función recibe dos arrays de Numpy, de 2 dimensiones cada uno y devuelve el valor booleano True si es posible realizar una multiplicación entre ambas matrices,
    y el valor booleano False si no lo es.
    Ej:
        n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
        n2 = np.array([[3,3],[4,4],[5,5]])
        print(Ret_Pregunta06(n1,n2))
            True            -> Valor devuelto por la función en este ejemplo
        print(Ret_Pregunta06(n2,n1))
            False            -> Valor devuelto por la función en este ejemplo
    '''
    #Tu código aca:
    cond = False
    if m1.shape[1]==m2.shape[0]: cond = True
    return cond

In [5]:
n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
n2 = np.array([[3,3],[4,4]])
Ret_Pregunta06(n1,n2)

False

Pregunta 7

In [ ]:
def Ret_Pregunta07():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar cuál de la siguiente lista de países tuvo mayor generación de
    energía solar (Solar_Generation_TWh) en el año 2019:
        * Argentina
        * Brazil
        * Chile
        * Colombia
        * Ecuador
        * Mexico
        * Peru
    Debe retornar el valor en un dato de tipo string.
    '''
    #Tu código aca:
    df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
    paises = ['Argentina','Brazil','Chile','Colombia','Ecuador','Mexico','Peru']
    dfmod=df[df.Year == 2019].groupby(by='Entity').sum()
    pais = dfmod.loc[paises]['Solar_Generation_TWh'].idxmax()
    return pais

In [ ]:
Ret_Pregunta07()

In [ ]:
df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
paises = ['Argentina','Brazil','Chile','Colombia','Ecuador','Mexico','Peru']
dfmod=df[df.Year == 2019].groupby(by='Entity').sum()
pais = dfmod.loc[paises]['Solar_Generation_TWh'].idxmax()

Pregunta 8

In [ ]:
def Ret_Pregunta08():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de entidades diferentes que están presentes en el dataset, retornando ese valor en un dato de tipo entero.
    '''
    #Tu código aca:
    df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
    return df['Entity'].nunique()

In [ ]:
df = pd.read_csv('./datasets/Fuentes_Consumo_Energia.csv')
df['Entity'].nunique()

Pregunta 9

In [6]:
def Ret_Pregunta09():
    '''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "datasets/Tabla1_ejercicio.csv" y "datasets/Tabla2_ejercicio.csv".
    Esta función debe retornar: score_promedio_femenino y score_promedio_masculino en formato tupla, teniendo en cuenta que no debe haber registros repetidos.
    '''
    #Tu código aca:
    dft1 = pd.read_csv('./datasets/Tabla1_ejercicio.csv',sep=';')
    dft2 = pd.read_csv('./datasets/Tabla2_ejercicio.csv',sep=';')
    dft3 = dft1.merge(dft2)
    dft3.drop_duplicates(inplace=True)
    #Scores como tupla
    score_promedio_femenino = round(dft3[dft3.sexo=='F']['score'].mean(),2)
    score_promedio_masculino = round(dft3[dft3.sexo=='M']['score'].mean(),2)
    score = (score_promedio_femenino,score_promedio_masculino)
    return score

In [56]:
Ret_Pregunta09()

(630.26, 772.28)

In [48]:
dft1 = pd.read_csv('./datasets/Tabla1_ejercicio.csv',sep=';')
dft2 = pd.read_csv('./datasets/Tabla2_ejercicio.csv',sep=';')

In [ ]:
dft1

In [ ]:
dft1.shape

In [ ]:
dft1.nunique()

In [ ]:
dft2

In [ ]:
dft2.info()

In [ ]:
dft2.nunique()

In [ ]:
dft2m = dft2.groupby('pers_id').mean()

In [43]:
dft1.drop_duplicates(inplace=True)

In [49]:
dft3 = dft1.merge(dft2)
dft3

,pers_id,sexo,edad,ingreso,situacion_lab,periodo,score
0,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
1,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
2,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,738
3,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,919
4,71906556521,F,47,35926.28125,Sin_situacion_declarada,201912,919
...,...,...,...,...,...,...,...
15871,57646643429,M,33,37955.50781,Relacion_dependencia,201909,683
15872,57646643429,M,33,37955.50781,Relacion_dependencia,201912,799
15873,92370836565,M,41,92338.20313,Relacion_dependencia,201906,900
15874,92370836565,M,41,92338.20313,Relacion_dependencia,201909,763
15875,92370836565,M,41,92338.20313,Relacion_dependencia,201912,900

In [50]:
dft3.drop_duplicates(inplace=True)

In [51]:
dft3[dft3.sexo=='F']['score'].mean()

630.261911750318

In [13]:
dft3m

                  edad      ingreso   periodo       score
pers_id     sexo
27817725    F     40.0  10622.45898  201909.0  814.000000
37570691    M     24.0  43974.76563  201909.0  580.333333
40181240    F     51.0  27217.44727  201909.0  376.333333
52105045    F     56.0  55331.26563  201909.0  495.000000
63502595    F     50.0  33757.90625  201909.0  467.000000
...                ...          ...       ...         ...
99744055227 F     56.0  53152.60938  201909.0  926.333333
99788780024 F     56.0  61848.82031  201909.0  666.333333
99897294254 F     44.0  47892.31250  201909.0  773.666667
99938763350 F     52.0  12823.33105  201909.0  151.500000
99958693785 F     29.0  25437.70898  201909.0  428.333333

[4853 rows x 4 columns]

In [ ]:
dft3.drop_duplicates(subset='pers_id', inplace=True)

In [52]:
score_promedio_femenino = round(dft3[dft3.sexo=='F']['score'].mean(),2)
score_promedio_masculino = round(dft3[dft3.sexo=='M']['score'].mean(),2)

In [53]:
score = (score_promedio_femenino,score_promedio_masculino)

In [54]:
score

(630.26, 772.28)

Pregunta 10

In [ ]:
def Ret_Pregunta10(lista):
    '''
    Esta función recibe como parámetro un objeto de la clase Lista() definida en el archivo Lista.py. Debe recorrer la lista y retornan la cantidad de nodos que posee. Utilizar el método de la clase
    Lista llamado getCabecera()
    Ejemplo:
        lis = Lista()
        lista.agregarElemento(1)
        lista.agregarElemento(2)
        lista.agregarElemento(3)
        print(Ret_Pregunta10(lista))
            3    -> Debe ser el valor devuelto por la función Ret_Pregunta10() en este ejemplo
    '''
    #Tu código aca:
    i = 0
    nodo = lista.getCabecera()
    if nodo:
        i=1
        while nodo.getCabecera():
            i+=1
            nodo = nodo.getCabecera()
    return i